body{
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
}
.inp1{
    margin: 40px;
    width: 80%;
    font-size: 25px;
    border-radius: 20px;
    border: none
}
input{
    text-align: center;
    background-color: white;
}
input[type="text"]::placeholder{
    text-align: center;
}
input[type="text"]:focus{
    outline: none;
    text-align: center;
}
.head1{
    font-family: Roboto;
    font-style: normal;
    font-size: 70px;
    color: #FFFFFF;
    padding-left: 40px;
}
.head2{
    font-size: 30px;
    margin-top: 8px;
    font-family: Roboto;
    padding-left: 40px;
    color: #E5E5E5;
}
.head3{
    text-align: center;
    color: #FFFFFF;
    padding-left: 80px;
    margin-top: 60px;
    position: relative;
    top: 20px;
    font-size: 30px;
}
.head4{
    color: white;
    text-align: center;
    font-size: 60px;
    padding-top: 20px;
}
.div1{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
}
.tab{
    background-color: white;
    margin: auto;
    margin-top: 60px;
    height: 150px;
    border-radius: 20px;
    border-color: black;
    width: 80%;
}
tr,td{
    padding-inline: 60px;
}
.humid{
    text-align: right;
}
.humid1{
    text-align: right;
    position: relative;
    left: -20px;
}
.newsbox{
    background-color: white;
    border-radius: 20px;
    padding-inline: 20px;
}
.k{
    padding-left: 20px;
    font-size: 30px;
    position: relative;
    top: -20px;
}
hr{
    border:solid black;
    background-color: black;
}
.newshead1{
    padding-left: 20px;
    padding-top: 10px;
}
.humidimage{
  position: relative;
  right: 40px;
}