.inner2{
    background-color: white;
    width: 449px;
    height: 569px;
    border-radius: 25px;
    margin: 00px;
    margin-top: 141px;
}
.head8{
    padding-left: 30px;
    padding-right: 30px;
}
hr{
    border: solid 1px black;
    background-color: black;
}
body{
    background-color: aquamarine;
}
